{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-light">Gestionnaire des tâche</h1>

        <div class="d-flex justify-content-end mb-3">
            <a href="{{ path('app_task_new') }}" class="btn btn-primary">Nouvelle tâche</a>
        </div>

        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Terminé</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status ? 'Yes' : 'No' }}</td>
                    <td>{{ task.createdAt ? task.createdAt|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_task_show', {'id': task.id}) }}" class="btn btn-info btn-sm">Détails</a>
                        <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        <form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous sûr de supprimer cette élément ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn btn-danger btn-sm">Suprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}